KERNEL=="ttyUSB*", ATTRS{busnum}=="3", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="lidar_left_front"
KERNEL=="ttyUSB*", ATTRS{busnum}=="1", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="lidar_right_rear"
#KERNEL=="ttyUSB*", ATTRS{busnum}=="1", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="lidar_left_front"
#KERNEL=="tty",   ENV{ID_PATH}=="pci-0000:03:00.0-usb-0:10:1.0", ATTRS{idVentor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="lidar_right_rear"
